.page-wrapper {
    height: 100%;
    width: 100%;
    color: gray;
    left: 50%;
    align-items: center;
    -webkit-box-align: center;
    display: flex;
}

.login-container {
    border-color: #dddddd;
    margin-bottom: 80px;
}

.panel-body {
    margin-right: auto;
    margin-left: auto;
}
.input-group {
    position: relative;

}